
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using Maternity.Models
@model List<BabyModel>

<script type="text/javascript">
    const options = {
       onKeyPress: function (phone, e, field, options) {           
            const masks = ['(00) 00000-0000', '(00) 0000-0000#'];
            console.log(phone.length);  
            const mask = (phone.length > 14) ? masks[0] : masks[1];
            $('.phone').mask(mask, options);
       }
    };

    $(document).ready(function () {


        $(".phone").mask("00/00/0000", { placeholder: "__/__/____" });


    });

 
</script>



<p>Phone: <input type="text" class="phone" id="phone" ></p>